@import url("https://fonts.googleapis.com/css2?family=Anton&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.btn-icon {
  transition: all 0.3s ease-in-out;
}

.icon-moved {
  transform: translateX(20px); /* Change the value to adjust the movement */
}

/* productws */
.product-h1 {
  margin-top: 50px !important;
  font-family: Anton;
  font-size: 100px;
  font-weight: 200;
  text-align: left;
  color: #292929;
}
.product-header-b1 {
  background: linear-gradient(90deg, #fa709a 0%, #fee140 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Anton;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: -0.03em;
  text-align: left;
  color: #292929;
  margin-top: 0;
}
.tilde {
  position: relative;
  top: -10px; /* Adjust this value to fine-tune the position */
}
.linkedin-img {
  filter: invert(100%);
}

/* success */

.success-1 {
  color: #64c661;
  font-family: Anton;
  font-size: 28px;
  text-align: center;
}

.success-para {
  font-family: Gotham Black;
  font-size: 25px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.05em;
  text-align: center;
  width: 250px;
}
.success-para-last {
  font-family: Gotham Black;
  font-size: 20px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.05em;
  text-align: center;
  width: 220px;
}

.success-border {
  border: 1px solid #000000;
  border-radius: 15px;
}

/* UI */
.bg-btn {
  background-color: #e9dffc;
  color: #be9ff6;
  border-radius: 12px;
}
.graph-img {
  width: 100px; /* Adjust as needed */
  height: auto;
}

@media (max-width: 768px) {
  .border-skills {
    width: 100%;
  }
  .d-flex.flex-column {
    flex-direction: column;
    align-items: center;
  }
  .custom-success{
    flex-direction: column;
  }
}

/* skills */
.border-skills {
  border: 1px solid black;
}

/* sheild */
.top {
  background-image: url("../asserts/bg-sheild.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.shield-para {
  font-family: Poppins;
  font-size: 48px;
  font-style: italic;
  font-weight: 700;
  line-height: 50.4px;
  letter-spacing: -0.05em;
  text-align: center;
}

/* aboutme */
.aboutme-para {
  font-family: Gotham Black;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.05em;
  text-align: left;
  padding: 25px;
}
.product-designer {
  background: linear-gradient(90deg, #fa709a 0%, #fee140 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.co {
  color: #fee140;
}
.lomb {
  color: #65c8ff;
}
.ian {
  color: #ff0000;
}

/* Footer */


.bg-footer {
  background-color: #292929;
  position: relative;
  margin-top: 100px;

}

.custom-container{
  margin-top: 180px !important;
}

.voilet-container{
  position: absolute;
  background-color: #A87FF3;
  top: -50%;
  height: 174px;
  width: 1000px;
}
.ptags{
  margin-left: 250px;
  margin-top: 50px;
}

.long-img{
  height: 250px;
  position: absolute;
  top: -50%;
}

.Line-img{
  height: 45px;
}
.footerflex {
  display: flex;
  gap: 20px; 
}

.logo-2 {
  width: 150px;
  filter: invert(100%);  
}

.line-img {
  margin-top: 20px; 
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .custom-container {
    margin-top: 50px; 
  }

  .footerflex {
    flex-direction: row; 
    gap: 1px;
  }

  .long {
    flex-direction: column;
    align-items: center; 
  }

  .custom-image {
    width: 120px; 
  }
  .custom-footer-logo{
    flex-direction: column;
    align-items: center;
    margin-top: 100px !important;
  }
  .custom-footer-logo img{
   width: 100px;
   
  }
 
}

@media screen and (max-width: 768px) {
  .voilet-container {
    width: 90%; /* Adjust width as needed */
    margin-left: auto;
    margin-right: auto;
    left: 170px;
    right: 0;
    transform: translate(-50%, -50%);
    top: -2%;
    height: 140px;
  }

  .ptags {
    margin-left: 130px;
    margin-right: auto;
    text-align: center;
    margin-top: 20px; 
    font-size: 10px;
    width: 200px;
  }
  .long-img{
    height: 200px;
  }

}

@media (max-width: 991.98px) {
  .align-lg-first {
    order: -1;
  }

  .align-lg-second {
    order: 0;
  }
} 
